/* custom.css */



/* 增加菜单项之间的间距 */
.book-menu-content ul li {
  margin-bottom: 20px;  /* 修改为你需要的间距 */
}

/* 设置导航栏字体 */
.book-menu-content a {
  font-family: 'Arial', sans-serif;  /* 修改为你想要的字体 */
  font-size: 30px;  /* 修改为你需要的字体大小 */
  font-weight: bold;  /* 设置加粗 */
  color: #333;  /* 设置字体颜色 */
}

/* custom.css */


/* 隐藏子菜单 */
.submenu {
  display: none;
  margin-left: 20px; /* 子菜单缩进 */
}

/* 展开子菜单 */
.menu-item.open .submenu {
  display: block;
}

/* 左侧导航窗格往左移动 */
.book-menu {
  margin-left: -5px;  /* 通过负值将左侧导航窗格移到更左边 */
}



/* 右侧目录窗格右移 */
.book-toc {
  margin-left: 800px;  /* 通过增加左侧边距将右侧目录窗格推向右边 */
}


.book-page {
  display: flex;
  justify-content: space-between;  /* 控制内容区的排列 */
  align-items: flex-start;
}


/* 设置页面容器宽度 */
.book-page {
  width: 90% !important;  /* 更大的页面宽度 */

}

.container {
  width: 95% !important;
  max-width: 100%;
  margin: 0 auto;
}
